<h1>Post: <%= @post.title %></h1>


<%= @post.url %>
<br>
<%= @post.content %>
<br>
<%= @post.user.username %>
<br>
<h3>Comments</h3>
<ul>
<% @all_comments.each do |comment| %>
  <li>
  <%= comment.content %>
  <%= comment.user.username %>
  <%= link_to "Go to comment", comment_url(comment) %>
  <%= render "comment", comment: comment %>
  </li>
<% end %>
</ul>
<br>
<%= link_to "Add Comment", new_post_comment_url(@post) %>
<br>
<%= link_to "Edit Post", edit_post_url(@post) %>
<br>
<%= button_to "Delete Post", post_url(@post), method: :delete  %>
<br>
<%= link_to "Back to subs", subs_url %>
